.UI {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meals {
  /* position: relative;
  top: -200px; */
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

@media screen and (max-width: 700px) {
  .meals {
    /* position: relative;
    left: -100px; */
    max-width: auto;
    width: auto;
    margin: 1rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
}
